/*general styling, containers and grids + flex attributes */

html {
    background: #f7faff;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100%;
    display: grid;
    grid-template-areas: "header" "nav" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 75px 150px 1fr 75px;
    gap: 0.4em 0.4em;
}

.header,
.footer,
.nav {
    background: #5e81ac;
    display: flex;
}

.header {
    grid-area: header;
    align-items: center;
    justify-content: center;
}

.navlist {
    display: flex;
    grid-area: nav;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    background: #d8dee9;
    padding: 3em;
}

.footer {
    padding: 0.5em;
    align-items: center;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* styling the inside of elements */

h1,
h2 {
    color: #e5e9f0;
    justify-content: center;
}

h1,
h2,
textarea,
button {
    font-family: "Noto Sans JP", sans-serif;
}

.nav button {
    flex: 1 1 5em;
    margin: 0.5em;
}

.nav h2 {
    margin: auto 1em auto 1em;
    flex: none;
    padding-bottom: 0em;
}

.footer * {
    margin: 1px;
}

.content button {
    margin: 10px;
    width: 100px;
    height: 50px;
}

.content textarea {
    background-color: #f7faff;
    outline: none;
    line-height: 24px;
    width: 85%;
    height: 85%;
}

button {
    font-size: 14px;
    height: auto;
    color: #181848;
    box-sizing: border-box;
    background-color: #eceff4;
    border: 2px solid #4c566a;
    border-radius: 5px;
    overflow-wrap: break-word;
}

topbuttons #darkmode:hover {
    background-color: #2e3440;
}

bottombuttons {
    display: flex;
    justify-content: center;
}

#cancel {
    color: #fff;
    background-color: #BF616A;
    border: 2px solid #DF5562;
}

#save {
    color: #fff;
    background-color: #A3BE8C;
    border: 2px solid #88C257;
}

#error {
    visibility: hidden;
}


/* Desktop Mode */

@media screen and (min-width: 800px) {
    .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        grid-template-rows: 75px 1fr 75px;
        grid-template-areas: "header header header header" "nav content content content" "footer footer footer footer";
    }
    .navlist {
        width: 150px;
        flex-direction: column;
    }
    .nav h2 {
        margin: 1em 1.5em 1em auto;
    }
}